<br><br><br>

<div class="container">
  <div class="stepwizard">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a href="#VerifyEmail-step" type="button" class="btn btn-success btn-circle" disabled="disabled">
          <span class="glyphicon glyphicon-envelope"></span>
        </a>
        <p>Verify Email</p>
      </div>

      <div class="stepwizard-step">
        <a href="#Security-Setup-step" type="button" class="btn btn-success-2 btn-circle" disabled="disabled"
          id="Security-Setup-step-3">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
        <p>Security Setup</p>
      </div>
    </div>
  </div>

  <div class="row" id="">
    <div class="col-4"></div>

    <div class="col-4">
     
    </div>
    
    <div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">First Name</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Firstname">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Last Name</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="last name">
        </div>
        <div class="col-12">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <br> <br>
        <div class="col-4">
          <label for="inputAddress">Town/city</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-4">
          <label for="inputAddress">Post code</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-4">
          <label for="inputAddress">country</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Phone</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>

      </div>
      <div> <button type="button" class="" routerLink="/security">Go to payment </button>

      </div>
    </div>


  </div>
</div>
 <br><br>
